.texto{
    background-color: #424250;
    color: white;
}
.Tabela-moda{
    background-color: #bb86fc;
    color: white; 
}
.Tabela-casa{
    background-color: #00C4B4;
    color: white;
}

th, td{
    padding: 7px;
}
